.container {
  background-image: url("https://st2.depositphotos.com/1106005/8592/i/600/depositphotos_85929920-stock-photo-black-and-white-doggy-tile.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-color: #000000c3;
}
