.landing {
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex start;
  align-items: center;
  background-size: cover;
  background-position: center;
  margin-left: 5vw;
  color: rgb(255, 255, 255);
}

.generalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.secTwo {
  line-height: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.092);
  backdrop-filter: blur(10px);
}

.secOne {
  text-align: center;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  z-index: -2;
}
