.filters {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  margin-left: 0.2rem;
}

.filters select {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  outline: none;
  font-weight: 600;
  color: rgb(96, 4, 103);
  border: 8px solid #8b5495bc;
  width: 8.8rem;
  border-radius: 25%;
}
